package views

templ Index() {
<!DOCTYPE html>
<html lang="en">
@Header()

<body></body>
<h1>my cool button webstie</h1>
<p class="text-light">its a website where you click a button</p>
<hr />
@Counter()
<hr />
<p class="text-light">website by nohl</p>

</html>
}
